<app-header></app-header>
<h1>Exchange Policy</h1>
<p>    
শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
</p>
<p>    
    শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
    গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
    ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
    ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
    শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
    গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
    ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
    ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
    শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
    গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
    ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
    ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
    শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
    গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
    ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
    ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
    </p>
    <p>    
        শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
        গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
        ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
        ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
        শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
        গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
        ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
        ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
        শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
        গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
        ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
        ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
        শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
        গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
        ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
        ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
        </p>