<app-header></app-header>

<h1>About US</h1>
<p>
ছেলেধরা গুজবে ঢাকার একটি শিক্ষা প্রতিষ্ঠানের সামনে তাসলিমা বেগম রেনুকে পিটিয়ে হত্যার এক বছরের বেশি সময় পর পুলিশ অভিযোগপত্র দিয়েছে, যার মধ্য দিয়ে বিচার শুরুর পথ তৈরি হল।
১৫ জনকে আসামি করে বৃহস্পতিবার গোয়েন্দা পুলিশ (ডিবি) মামলার অভিযোগপত্র ঢাকা মহানগর হাকিম আদালতে দাখিল করেছে বলে ঢাকা মহানগর পুলিশের উপকমিশনার (মিডিয়া) ওয়ালিদ হোসেন বিডিনিউজ টোয়েন্টিফোর ডটকমকে জানিয়েছেন।
অভিযোগপত্রে যে ১৫ জনকে আসামি করা হয়েছে, তার মধ্যে দুজন অপ্রাপ্ত বয়স্ক কিশোর রয়েছে। আর মো. মহিউদ্দিন (১৮) নামে একজন পলাতক।
বাকি ১২ জনের মধ্যে ইব্রাহিম ওরফে হৃদয় হোসেন মোল্লাকে (২০) প্রধান আসামি হিসেবে চিহ্নিত করা হয়েছে।
অন্যরা হলেন- রিয়া বেগম ওরফে ময়না বেগম (২৯), আবুল কালাম আজাদ ওরফে আজাদ মন্ডল (৫০), কামাল হোসেন (৪০), মো. শাহিন (৩২), মো. বাচ্চু মিয়া (৩৬), বাপ্পী ওরফে শহিদুল ইসলাম (২১), মুরাদ মিয়া (২৬), সোহেল রানা (৩০), আসাদুল ইসলাম (২২), বিল্লাল মোল্লা (৩২) ও  রাজু ওরফে রুম্মান হোসেন (২৩)।
</p>
<p>    
    শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
    গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
    ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
    ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
    শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
    গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
    ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
    ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
    শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
    গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
    ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
    ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
    শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
    গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
    ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
    ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
    </p>

    <p>    
        শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
        গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
        ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
        ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
        শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
        গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
        ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
        ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
        শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
        গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
        ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
        ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
        শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
        গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
        ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
        ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
        </p>

        <p>    
            শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
            গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
            ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
            ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
            শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
            গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
            ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
            ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
            শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
            গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
            ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
            ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
            শান্তিতে ২০২১ সালের নোবেল পুরস্কারের জন্য যুক্তরাষ্ট্রের প্রেসিডেন্ট ডনাল্ড ট্রাম্পকে মনোনীত করেছেন নরওয়ের এক আইনপ্রণেতা।
            গত মাসে ইসরায়েল এবং সংযুক্ত আরব আমিরাতের (ইউএই) সম্পর্ক স্বাভাবিক করার পথ সুগম করতে দু’দেশের মধ্যে চুক্তিতে মধ্যস্থতা করেছেন ট্রাম্প।
            ঐতিহাসিক এ শান্তিচুক্তির কারণে নোবেল শান্তি পুরস্কারের জন্য ট্রাম্পকে বুধবার মনোনীত করেন নরওয়ের পার্লামেন্ট সদস্য ক্রিশ্চিয়ান টিবরিং-জেড্ডে। এ নিয়ে দ্বিতীয়বার শান্তিতে নোবেলের জন্য ট্রাম্পের নাম প্রস্তাব করলেন তিনি।
            ফক্স নিউজে আইনপ্রণেতা টিবরিং-জেড্ডে বলেছেন, “আমি মনে করি, নোবেল শান্তি পুরস্কারের জন্য মনোনয়ন প্রার্থী অধিকাংশের তুলনায় ট্রাম্পই বিভিন্ন দেশের মধ্যে শান্তি স্থাপনের জন্য বেশি চেষ্টা করেছেন।”
            </p>