<app-header></app-header>
<h1>Delievery Information</h1>
<p>
দেশের বাজারে প্রতি ভরি সোনার দাম এক হাজার ৭৫০ টাকা বাড়ানোর ঘোষণা বুধবার দিয়েছে বাংলাদেশ জুয়েলার্স সমিতি-বাজুস।
এবার আন্তর্জাতিক বাজারে দাম বাড়ার কারণে নয়, যুক্তরাষ্ট্রের মুদ্রা ডলারের তেজিভাবের কারণে সোনার দাম বাড়ানো হয়েছে বলে জানিয়েছেন বাজুসের সভাপতি এনামুল হক খান দোলন।
তিনি বিডিনিউজ টোয়েন্টিফোর ডটকমকে বলেন, কোভিড-১৯ মহামারীর মধ্যে বেশ কিছু দিন ধরে আন্তর্জাতিক বাজারে স্বর্ণের দাম খুব উঠা-নামা করছিল। কিন্তু গত দুই সপ্তাহ ধরে প্রায় একই জায়গায়ই রয়েছে।
গত ২১ অগাস্ট যখন দেশে সোনার দাম বেড়েছিল, তখন বিশ্ব বাজারে প্রতি আউন্সের (৩১.১০৩৪৭৬৮ গ্রাম) দাম ছিল ১৯৪০ ডলার। এখনও দাম প্রায় একই (১৯৪৩ ডলার) রয়েছে।
দোলন বলেন, “কোভিড-১৮ মহামারীর কারণে বিশ্ব অর্থনীতি স্থবির হওয়ার সঙ্গে সঙ্গে ডলারের দামও কমে গিয়েছিল। এখন পরিস্থিতি স্বাভাবিক হতে শুরু করায় ডলারও শক্তিশালী হচ্ছে। আমাদের কার্ব মার্কেটে ডলারের দাম বেড়ে গেছে।
“গোল্ড আমদানি করতে এখন আমাদের বেশি টাকা লাগছে। সে কারণেই দাম বাড়ানো হয়েছে।”
বৃহস্পতিবার থেকে প্রতি ভরি (১১.৬৬৪ গ্রাম) সবচেয়ে ভালো মানের (২২ ক্যারেট) সোনা ৭৪ হাজার ৮ টাকায় বিক্রি হবে।
২১ ক্যারেটের সোনা বিক্রি হবে ৭০ হাজার ৮৫৯ টাকায়। ১৮ ক্যারেটের বিক্রি হবে ৬২ হাজার ১১১ টাকায়।
আর সনাতন পদ্ধতির সোনা বিক্রি হবে ৫১ হাজার ৭৮৮ টাকায়।
</p>
<p>
    দেশের বাজারে প্রতি ভরি সোনার দাম এক হাজার ৭৫০ টাকা বাড়ানোর ঘোষণা বুধবার দিয়েছে বাংলাদেশ জুয়েলার্স সমিতি-বাজুস।
    এবার আন্তর্জাতিক বাজারে দাম বাড়ার কারণে নয়, যুক্তরাষ্ট্রের মুদ্রা ডলারের তেজিভাবের কারণে সোনার দাম বাড়ানো হয়েছে বলে জানিয়েছেন বাজুসের সভাপতি এনামুল হক খান দোলন।
    তিনি বিডিনিউজ টোয়েন্টিফোর ডটকমকে বলেন, কোভিড-১৯ মহামারীর মধ্যে বেশ কিছু দিন ধরে আন্তর্জাতিক বাজারে স্বর্ণের দাম খুব উঠা-নামা করছিল। কিন্তু গত দুই সপ্তাহ ধরে প্রায় একই জায়গায়ই রয়েছে।
    গত ২১ অগাস্ট যখন দেশে সোনার দাম বেড়েছিল, তখন বিশ্ব বাজারে প্রতি আউন্সের (৩১.১০৩৪৭৬৮ গ্রাম) দাম ছিল ১৯৪০ ডলার। এখনও দাম প্রায় একই (১৯৪৩ ডলার) রয়েছে।
    দোলন বলেন, “কোভিড-১৮ মহামারীর কারণে বিশ্ব অর্থনীতি স্থবির হওয়ার সঙ্গে সঙ্গে ডলারের দামও কমে গিয়েছিল। এখন পরিস্থিতি স্বাভাবিক হতে শুরু করায় ডলারও শক্তিশালী হচ্ছে। আমাদের কার্ব মার্কেটে ডলারের দাম বেড়ে গেছে।
    “গোল্ড আমদানি করতে এখন আমাদের বেশি টাকা লাগছে। সে কারণেই দাম বাড়ানো হয়েছে।”
    বৃহস্পতিবার থেকে প্রতি ভরি (১১.৬৬৪ গ্রাম) সবচেয়ে ভালো মানের (২২ ক্যারেট) সোনা ৭৪ হাজার ৮ টাকায় বিক্রি হবে।
    ২১ ক্যারেটের সোনা বিক্রি হবে ৭০ হাজার ৮৫৯ টাকায়। ১৮ ক্যারেটের বিক্রি হবে ৬২ হাজার ১১১ টাকায়।
    আর সনাতন পদ্ধতির সোনা বিক্রি হবে ৫১ হাজার ৭৮৮ টাকায়।
    </p>
    <p>
        দেশের বাজারে প্রতি ভরি সোনার দাম এক হাজার ৭৫০ টাকা বাড়ানোর ঘোষণা বুধবার দিয়েছে বাংলাদেশ জুয়েলার্স সমিতি-বাজুস।
        এবার আন্তর্জাতিক বাজারে দাম বাড়ার কারণে নয়, যুক্তরাষ্ট্রের মুদ্রা ডলারের তেজিভাবের কারণে সোনার দাম বাড়ানো হয়েছে বলে জানিয়েছেন বাজুসের সভাপতি এনামুল হক খান দোলন।
        তিনি বিডিনিউজ টোয়েন্টিফোর ডটকমকে বলেন, কোভিড-১৯ মহামারীর মধ্যে বেশ কিছু দিন ধরে আন্তর্জাতিক বাজারে স্বর্ণের দাম খুব উঠা-নামা করছিল। কিন্তু গত দুই সপ্তাহ ধরে প্রায় একই জায়গায়ই রয়েছে।
        গত ২১ অগাস্ট যখন দেশে সোনার দাম বেড়েছিল, তখন বিশ্ব বাজারে প্রতি আউন্সের (৩১.১০৩৪৭৬৮ গ্রাম) দাম ছিল ১৯৪০ ডলার। এখনও দাম প্রায় একই (১৯৪৩ ডলার) রয়েছে।
        দোলন বলেন, “কোভিড-১৮ মহামারীর কারণে বিশ্ব অর্থনীতি স্থবির হওয়ার সঙ্গে সঙ্গে ডলারের দামও কমে গিয়েছিল। এখন পরিস্থিতি স্বাভাবিক হতে শুরু করায় ডলারও শক্তিশালী হচ্ছে। আমাদের কার্ব মার্কেটে ডলারের দাম বেড়ে গেছে।
        “গোল্ড আমদানি করতে এখন আমাদের বেশি টাকা লাগছে। সে কারণেই দাম বাড়ানো হয়েছে।”
        বৃহস্পতিবার থেকে প্রতি ভরি (১১.৬৬৪ গ্রাম) সবচেয়ে ভালো মানের (২২ ক্যারেট) সোনা ৭৪ হাজার ৮ টাকায় বিক্রি হবে।
        ২১ ক্যারেটের সোনা বিক্রি হবে ৭০ হাজার ৮৫৯ টাকায়। ১৮ ক্যারেটের বিক্রি হবে ৬২ হাজার ১১১ টাকায়।
        আর সনাতন পদ্ধতির সোনা বিক্রি হবে ৫১ হাজার ৭৮৮ টাকায়।
        </p>