.location {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-position {
    text-align: center;
    min-width: 50vw !important;
    max-width: 60vw !important;
}

.location-form-field {
    text-align: center; 
    width:50% !important;
}

.location-container .mat-form-field + .mat-form-field {
    margin-left: 0px;
}

.location-right-align {
    text-align: right;
}

input.location-right-align::-webkit-outer-spin-button,
input.location-right-align::-webkit-inner-spin-button {
    display: none;
}

input.location-right-align {
    -moz-appearance: textfield;
}

